html {
    width: auto !important;
}

select {
    text-align: center !important;
}

.right-bottom {
    border-radius: 20px;
    margin-top: 20px;
    background-color: powderblue;
    height: 700px;
}

#coin-img {
    display: block;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

#coin-name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}